{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<section class="vh-100" style="background-color: #4a9bf5;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 0.3rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">{% trans "Sign In" %}</h3>
                        {% url 'account_login' as login_url %}
                        {% element form form=form method="post" action=login_url tags="entrance,login" %}
                            {% slot body %}
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" id="id_username" name="login" class="form-control form-control-lg" placeholder="{% trans 'Username' %}" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="id_password" name="password" class="form-control form-control-lg" placeholder="{% trans 'Password' %}" required>
                                </div>
                                <div class="form-check mb-4 d-flex justify-content-between align-items-center" style="margin-bottom: 1rem;">
                                    <div>
                                        <input class="form-check-input" type="checkbox" id="remember" name="remember">
                                        <label class="form-check-label" for="remember">
                                            {% trans 'Remember me' %}
                                        </label>
                                    </div>
                                    <a class="forgot-password" href="{% url 'account_reset_password' %}" style="color: #508bfc; margin-left: auto;">{% trans "Forgot your password?" %}</a>
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                                {% endif %}
                            {% endslot %}
                            {% slot actions %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 100%;">{% trans "Sign In" %}</button>
                            {% endslot %}
                        {% endelement %}

                        <div class="divider d-flex align-items-center my-4" style="position: relative; display: flex; align-items: center; margin-top: 1rem; margin-bottom: 1rem;">
                            <div style="flex: 1; height: 1px; background-color: #6c757d;"></div>
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                            <div style="flex: 1; height: 1px; background-color: #6c757d;"></div>
                        </div>
                        
                        {% if SOCIALACCOUNT_ENABLED %}
                        <form action="{% provider_login_url 'google' %}" method="GET">
                            <button type="submit" class="btn btn-lg btn-block btn-danger" style="width: 100%;"><i class="fab fa-google me-2"></i> {% trans "Sign in with Google" %}</button>
                        </form>                        
                        {% endif %}
                        <button type="button" class="btn btn-lg btn-block btn-dark" style="width: 100%;" onclick="signInAnonymously()"><i class="fa-solid fa-shield-halved me-2"></i> {% trans "Sign In Anonymously" %}</button>

                        <div class="sign-up">
                            <div class="message fw-normal" style="display: inline-block;">Don't have an account?</div>
                            <a class="sign-up-anchor fw-bold" href="{% url 'account_signup' %}" style="color:#508bfc; display: inline-block; margin-top: 50px;">{% trans "Sign Up" %}</a>
                        </div>

                        <script>
                            function signInAnonymously() {
                                window.location.href = "/home/";
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
